 <prerequisite type="Query" name="Short text" >
  <query>Query that returns true if passed, false if failed</query>
  <message>A more verbose message to show the user if the check fails.</message>
 </prerequisite>
