<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 1998-2008 by xTuple. All rights reserved. -->
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
"http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<section id="Section980808">
  <title><indexterm significance="normal">
      <primary>topics</primary>
      <secondary>event management</secondary>
    </indexterm> <indexterm significance="normal">
      <primary>events</primary>
      <secondary>explained</secondary>
    </indexterm> <indexterm significance="normal">
      <primary>events</primary>
      <secondary>management of</secondary>
    </indexterm>Topic: How Events Work</title>
  <para>This section is designed to illustrate the powerful features of the
  xTuple ERP Event Management system. To take full advantage of these
  features, it's important to have an understanding of how Events work.</para>
  <para>Let's begin with a few definitions:</para>
  <itemizedlist>
    <listitem>
      <para>Event: Any one of a limited set of possible occurrences
      precipitated by user activity which xTuple ERP defines as having special
      importance. For a complete list of system-defined Events, see <xref
      linkend="Anchor80421" />.</para>
    </listitem>
    <listitem>
      <para>Event notification: A system-generated alert sent to a user
      whenever an Event the user subscribes to occurs.</para>
    </listitem>
    <listitem>
      <para>Event Fence: A setting on the Item Site master specifying the
      period of time, measured in days, within which Event notifications
      related to the Item Site should be issued.</para>
    </listitem>
  </itemizedlist>
  <section id="Section980818">
    <title><indexterm significance="normal">
        <primary>events</primary>
        <secondary>initiation of</secondary>
      </indexterm>Initiating an Event</title>
    <para>If these terms seem confusing now, they shouldn't by the time you
    finish reading. The aim of this section is to clarify these definitions
    with concrete examples showing just how Events work. Perhaps the best way
    to begin is to imagine a manufacturing scenario. For the purpose of this
    exercise, let's say we manufacture plastic flowers. One of our bestsellers
    is Item BOQ-002, whose Bill of Materials appears below:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_bomBOQ-002.png" />
          </imageobject>
          <caption>Bill of Materials for Manufactured Item</caption>
        </mediaobject>
      </screenshot></para>
    <para>Rather than consider all the available Events at once, let's look at
    one which might affect Item BOQ-002. Let's consider the Event called
    "WoQtyChanged." This Event occurs, or is triggered, if a user ever changes
    the quantity of a Work Order. To see this Event in action, we will create
    a Work Order for 100 units of Item BOQ-002. The following screenshot shows
    the Work Order we are creating:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_wOrderBOQ-002.png" />
          </imageobject>
          <caption>Work Order for Manufactured Item</caption>
        </mediaobject>
      </screenshot></para>
    <para>To initiate the Event, we will need to change the Work Order
    quantity from 100 units to some other quantity. But before we do that,
    let's make sure our test user is subscribed to this Event within the Work
    Order's supplying Warehouse (i.e., Warehouse EAST). Users must be
    subscribed to an Event if they are to be notified when the Event
    occurs.</para>
    <note>
      <para>Users must be subscribed to an Event if they are to be notified
      when the Event occurs.</para>
    </note>
    <para>We can verify which Events our user is subscribed to by opening the
    User Preferences screen found in the System Module. On the User
    Preferences screen, select the EVENTS button. The following screen will
    appear:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_eventNotify1.png" />
          </imageobject>
          <caption>User Event Notification Screen</caption>
        </mediaobject>
      </screenshot></para>
  </section>
  <section id="Section980843">
    <title><indexterm significance="normal">
        <primary>events</primary>
        <secondary>notification options for</secondary>
      </indexterm>Notification Options</title>
    <para>The User Event Notification screen is where we check on user Event
    subscriptions. If a user is subscribed to an Event, the user will be
    notified whenever that Event occurs. For this exercise we are interested
    specifically in the Event "WoQtyChanged". As you can see in the example,
    this Event has been highlighted. Simply click your mouse on an Event to
    highlight it.</para>
    <para>Once the desired Event has been highlighted, we look next to the
    list of Warehouses found on the right-hand side of the screen. If a
    Warehouse has been subscribed to the Event, the "Notify" column next to
    the Warehouse will read "Yes." If not subscribed, the "Notify" column will
    read "No." As you can see from the screenshot, none of the Warehouses are
    subscribed to the "WoQtyChanged" Event. This means the user is not
    subscribed to it. To link a Warehouse to the Event, simply double-click on
    the Warehouse after the desired Event has been highlighted.</para>
    <tip>
      <para>If you double-click on an Event, you can change the notification
      status for all Warehouses simultaneously. This technique avoids having
      to select each Warehouse individually.</para>
    </tip>
    <para>Remembering that the EAST Warehouse is specified as the supplying
    Warehouse on the Work Order we created for Item BOQ-002--meaning this is
    the Warehouse where a change in Work Order quantity would occur,
    triggering an Event&mdash;we double-click on Warehouse EAST. Doing so
    changes the Notification status for Warehouse EAST to "Yes," as shown in
    the example. The user is now subscribed to the "WoQtyChanged"
    Event.</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_eventNotify2.png" />
          </imageobject>
          <caption>Event Notification Established for Warehouse</caption>
        </mediaobject>
      </screenshot></para>
  </section>
  <section id="Section980862">
    <title><indexterm significance="normal">
        <primary>events</primary>
        <secondary>fences for</secondary>
      </indexterm> <indexterm significance="normal">
        <primary>item sites</primary>
        <secondary>event fences explained</secondary>
      </indexterm>Event Fences</title>
    <para>Before we change the Work Order quantity, let's first examine how
    Event Fences fit into the equation. As you recall from the initial
    definition, an Event Fence is a setting on the Item Site master specifying
    the period of time, measured in days, within which Event notifications
    related to the Item Site should be issued. Looking at the Item Site master
    for Item BOQ-002, we see that the Event Fence is set to five ("5") days,
    as shown below:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_itemSiteBOQ-002.png" />
          </imageobject>
          <caption>Event Fence for Manufactured Item</caption>
        </mediaobject>
      </screenshot></para>
    <para>Given their measurement in days, Event Fences relate to the timing
    of Events. You might ask, How does timing relate to Events? Well, if you
    look at the complete list of Events found in <xref
    linkend="Anchor80421" />, you will see that the majority of Events are
    tied to Sales Orders or Work Orders. Because Orders have definite due
    dates and start dates, they are time-sensitive.</para>
    <para>Let's return to our specific example now. Look back at the Work
    Order we created for Item BOQ-002 in the example. The start date is
    "01/09/2004". We recall that the Event Fence setting for Item BOQ-002 in
    Warehouse EAST is five days. That means in terms of calendar days, the
    Event Fence for this Work Order ranges over a period of five days from
    01/05/2004 to 01/09/2004. If a system-defined Event occurs within this
    Event Fence, and you are subscribed to that Event in the correct
    Warehouse, you will receive notification that the Event has occurred. If
    the Event occurs prior to the Event Fence, no notification will be
    issued.</para>
    <para>Now let's initiate the "WoQtyChanged" Event and track the results.
    Today's date is 01/08/2004, so we are within the specified Event Fence for
    the BOQ-002 Item Site. All we have to do is open the Change Work Order
    Quantity screen, which is found in the Work Order Control Section of the
    W/O Module. And as you can see in the example, we will change the original
    Work Order quantity from 100 units to 75 units:</para>
    <para><anchor id="Anchor52867" role="Cross-Ref"
    xreflabel="52867: Figure: Figure 1.6:  Event Initiated by Change in Work Order Quantity" />
    <screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_changeWoQty.png" />
          </imageobject>
          <caption>Event Initiated by Change in Work Order Quantity</caption>
        </mediaobject>
      </screenshot></para>
  </section>
  <section id="Section980887">
    <title>The Event Manager</title>
    <para>After initiating the Event, a couple of things happen. For starters,
    the Event notification button will pop up in the lower left-hand corner of
    your desktop. This button alerts you that an Event you are subscribed to
    has occurred:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_eventAlert.png" />
          </imageobject>
          <caption>Event Notification Alert</caption>
        </mediaobject>
      </screenshot></para>
    <para>To see details about the Event, we double-click on the alert button.
    Doing so opens the xTuple ERP Event Manager, as shown in the following
    screen:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_eventManager1.png" />
          </imageobject>
          <caption>Event Shown in Event Manager</caption>
        </mediaobject>
      </screenshot></para>
    <note>
      <para>The Event Manager can be accessed regardless of whether the Event
      notification button has appeared. Simply select the Event Manager option
      from the System Module menu.</para>
    </note>
    <para>As you can see in the example, the Event for the current user is
    displayed. If you are a manager with permission to view Event details
    pertaining to other users, you would have the ability to select another
    user on this screen. Looking at the details for our current user, we see
    the Warehouse where the Event occurred, the time and date of occurrence,
    the type of Event, and the associated Order number. To acknowledge receipt
    of the notification, we select the Acknowledge option from the right-click
    menu. Finally, to confirm the time and date of acknowledgement, we select
    the Show Acknowledged Events option, as shown in the following
    screen:</para>
    <para><screenshot>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/Topic_eventManager2.png" />
          </imageobject>
          <caption>Event Acknowledged in Event Manager</caption>
        </mediaobject>
      </screenshot></para>
    <para>We have now followed a complete life cycle for the Event
    "WoQtyChanged." Apply the same techniques discussed in this example when
    subscribing to and tracking other system-defined Events.</para>
  </section>
</section>